<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <style>
    html, body, section {
      height: 100%;
    }

    section {
      width: 75%;
      max-width: 600px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .col {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .mail {
      display: flex;
      justify-content: flex-start;
    }

    hr {
      width: 100%;
    }
  </style>

  <body>

    <section>

      <div class="col">

        <div class="header">
          <h1> Hexcode </h1>
          <h4> A podcast about technology and art. <i> Coming soon. </i> </h4>
        </div>

        <hr/>
        <div class="mail">
          {% include mailchimp.html %}
        </div>

      </div>
    </section>

  </body>

</html>
